xmonad/history
xmonad/xmonad
xmonad/xmonad-contrib
xmonad/xmonad-i386-linux
xmonad/xmonad.errors
xmonad/xmonad.hi
xmonad/xmonad.o
xmonad/.stack-work
/config/Clementine/
/config/Code - OSS/
/config/Code Industry/
/config/Dharkael/
/config/Electron/
/config/FEZ/
/config/Franz/
/config/FreeCAD/
/config/GIMP/
/config/JetBrains/
/config/KDE/
/config/Microsoft/
/config/MonoGame/
/config/MusicBrainz/
/config/PCSX2/
/config/Publii/
/config/QtProject.conf
/config/RogueLegacy/
/config/Signal/
/config/Trello/
/config/Trolltech.conf
/config/Ulduzsoft/
/config/Unknown Organization/
/config/VirtualBox/
/config/akregatorrc
/config/alacritty/
/config/autostart/
/config/baloofilerc
/config/basketrc
/config/bluedevilglobalrc
/config/calibre/
/config/cef_user_data/
/config/chromium/
/config/cmst/
/config/com.add0n.native_client/
/config/configstore/
/config/dconf/
/config/deluge/
/config/dleyna-renderer-service.conf
/config/dleyna-server-service.conf
/config/dolphin-emu/
/config/draw.io/
/config/drkonqirc
/config/enchant/
/config/eog/
/config/evince/
/config/evolution.bak/
/config/evolution/
/config/fish/completions/
/config/fish/conf.d/
/config/fish/fish_plugins
/config/fish/fish_variables
/config/fish/fishd.nixos
/config/fish/functions/
/config/flacon/
/config/flameshot/
/config/freecol/
/config/gaupol/
/config/gconf/
/config/geeqie/
/config/gnome-control-center/
/config/goa-1.0/
/config/godot/
/config/google-chrome/
/config/gpick/
/config/green-recorder/
/config/gtk-2.0/
/config/gtk-3.0/
/config/gtk-4.0/
/config/gtkrc
/config/gtkrc-2.0
/config/htop/
/config/i3status/
/config/ibus/
/config/inkscape/
/config/kactivitymanagerd-statsrc
/config/kactivitymanagerdrc
/config/zoomus.conf
/config/yelp/
/config/xsettingsd/
/config/xournalpp/
/config/wofi/
/config/wireshark/
/config/vlc/
/config/vivaldi/
/config/user-dirs.locale
/config/user-dirs.dirs
/config/unity3d/
/config/trashrc
/config/transmission/
/config/termite/
/config/teams/
/config/teams (deleted)/
/config/systemsettingsrc
/config/systemd/
/config/syncthing/
/config/syncthing-gtk/
/config/supertuxkart/
/config/subtitleeditor/
/config/startupconfigkeys
/config/startupconfigfiles
/config/startupconfig
/config/spotify/
/config/skypeforlinux/
/config/session/
/config/scribus/
/config/qpdfview/
/config/pulse/
/config/powermanagementprofilesrc
/config/polybar/
/config/poedit/
/config/plasmashellrc
/config/plasma-org.kde.plasma.desktop-appletsrc
/config/plasma-nm
/config/plasma-localerc
/config/pipewire-media-session/
/config/pcmanfm/
/config/pavucontrol.ini
/config/pavucontrol-qt/
/config/passwd/
/config/pacmixer/
/config/osmo/
/config/orage/
/config/okularrc
/config/okularpartrc
/config/obs-studio/
/config/nvim/
/config/netlify/
/config/ncmpcpp/
/config/nautilus/
/config/monitors.xml~
/config/monitors.xml
/config/mimeapps.list
/config/microsoftedge/
/config/menus/
/config/mako/
/config/lutris/
/config/libreoffice/
/config/libfm/
/config/libaccounts-glib/
/config/latexmk/
/config/kwinrulesrc
/config/kwinrc
/config/ktimezonedrc
/config/ksnip/
/config/ksmserverrc
/config/kscreenlockerrc
/config/krunnerrc
/config/kritarc
/config/kritadisplayrc
/config/komparerc
/config/kmixrc
/config/khotkeysrc
/config/kglobalshortcutsrc
/config/kdeglobals
/config/kded5rc
/config/kde.org/
/config/kconf_updaterc
/config/kcminputrc
/config/kateschemarc
/config/.config
