* {
    font-size: 20px;
    font-family: monospace;
}

window#waybar {
    background: #292b2e;
    color: #fdf6e3;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
    color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
    color: #292b2e;
    background: #1a1a1a;
}

#workspaces,
#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#battery2,
#disk,
#temperature,
#network,
#tray {
    background: #1a1a1a;
}

#workspaces button {
    padding: 0 2px;
    color: #268bd2;

}
#workspaces button.focused {
    color: #fdf6e3;
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}
#workspaces button:hover {
    background: #1a1a1a;
    border: #1a1a1a;
    padding: 0 3px;
}

#pulseaudio {
    color: #268bd2;
}
#memory {
    color: #2aa198;
}
#cpu {
    color: #6c71c4;
}
#battery {
    color: #859900;
}
#battery.charging {
    /*background-color: #000000;*/
    color: #559900;
}
#battery.warning {
    color: orange;
}
@keyframes blink {
    to {
        /*background-color: #ffffff;*/
        color: #000000;
    }
}
#battery.critical:not(.charging) {
    background: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#disk {
    color: #b58900;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
    padding: 0 10px;
}
